<div class="container vh-100 d-grid main-font">
  <div class="row justify-content-center align-items-center h-100">
    
    <div class="col-md-10">
        <h1 class="mb-5">Create an account</h1>
      <div class="card text-center p-3">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label class="form-label text-start w-100"
                >NDSU Email Address</label
              >
              <input
                type="text"
                class="form-control"
                name="fname"
                placeholder="Enter email address"
              />
            </div>

            <div class="mb-3">
              <label class="form-label text-start w-100">Password</label>
              <input
                type="text"
                class="form-control"
                name="lname"
                placeholder="Enter password"
              />
            </div>
            <div class="text-end">
              <button class="btn btn-success me-2">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
