<div class="container d-flex flex-column justify-content-center align-items-center vh-100 main-font">
    <h1 class="text-center mb-4">Welcome to StudyBuddies</h1>
    <p class="text-center mb-4">Please sign in with a valid NDSU Google account</p>
  
    <div class="card p-4" style="max-width: 400px; width: 100%">
      <h2 class="text-center mb-4">Login with Google</h2>
      <button id="google-login" class="btn btn-block yellow-button">
        <i class="fab fa-google"></i> Sign in with Google
      </button>
    </div>
  </div>
  