<nav class="navbar navbar-expand-lg green-bg main-font">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">
      <img class="nav_logo" src="images/nav_logo.jpg" alt="">
      <span class="yellow-text">Study</span
      ><span class="text-white">Buddies</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a
            class="btn btn-success yellow-button"
            [hidden]="!isLoggedIn"
            routerLink=""
            ><i class="bi bi-hand-thumbs-up-fill"></i> Match</a
          >
        </li>
        <li class="nav-item me-3">
          <a
            class="btn btn-success yellow-button"
            [hidden]="!isLoggedIn"
            routerLink="group"
            ><i class="bi bi-collection-fill"></i> Group up</a
          >
        </li>
        <li class="nav-item me-3">
          <a
            class="btn btn-success yellow-button"
            [hidden]="!isLoggedIn"
            routerLink="message"
            ><i class="bi bi-envelope-fill"></i> Message</a
          >
        </li>
        <li class="nav-item me-3">
          <a
            class="btn btn-success yellow-button"
            [hidden]="!isLoggedIn"
            routerLink="profile"
            ><i class="bi bi-person-circle"></i> Profile</a
          >
        </li>
        <li class="nav-item me-3">
          <a
            class="btn btn-success yellow-button"
            [hidden]="!isLoggedIn"
            routerLink="" (click) = "signOut()"
            ><i class="bi bi-person-raised-hand"></i> Log Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
