:host {
  display: block;
  height: 85vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

stream-channel-list {
  width: 20%;
  min-width: 150px;
  max-width: 300px;
  height: 100%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

stream-channel {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
