#match_buttons {
    font-size: 5em;
    margin-top: 2.5em;
}

#profile {
    border-radius: 5%;
}

#item {
    border-radius: 2%;
    overflow: auto;
    height: 225px;
    margin: 5px;
}

h4 {
    color: white;
}

p {
    color: #ffc82e;
}